<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Settings>
    <IP>192.168.209.4</IP>
    <prjDirSet>Manual</prjDirSet>
    <prjDir>C:\Dynamics\SSN</prjDir>
    <bkpDir>C:\Users\user\Desktop\backupTest</bkpDir>
    <NoAccessToCnD>True</NoAccessToCnD>
  </Settings>
  <Backups>
    <Backup Enable="True">C:\Dynamics\SSNTestBackup</Backup>
  </Backups>
  <Default>
    <Catalog allFiles="false" enable="true">$\PIC</Catalog>
    <File enable="true">$\PIC\User.fxg</File>
    <File enable="true">$\DB\Object.mdb</File>
    <File enable="true">$\DB\users.udb</File>
  </Default>
  <Filters>
    <Filter>*.grf</Filter>
    <Filter>*.con</Filter>
  </Filters>
  <Sync>
    <Catalog allFiles="false" enable="true">C:\Dynamics\SSN\PIC</Catalog>
    <Catalog allFiles="true" enable="true">C:\Dynamics\SSN\APL\work with excel SSN</Catalog>
    <Catalog allFiles="false" enable="true">C:\Dynamics\SSN\APL\Nuts</Catalog>
    <File enable="true">C:\Dynamics\SSN\PIC\User.fxg</File>
    <File enable="true">C:\Dynamics\SSN\DB\Object.mdb</File>
    <File enable="true">C:\Dynamics\SSN\DB\users.udb</File>
    <File enable="true">C:\Dynamics\SSN\Переменные_ССН_v0.33(Доработка_277.30).xlsm</File>
    <File enable="true">C:\Dynamics\SSN\XML\Alpha.ServerExternalObjects.xml</File>
    <File enable="true">C:\Dynamics\SSN\APL\Nuts\ssn_analog.csv</File>
    <File enable="true">C:\Dynamics\SSN\APL\Nuts\ssn_obsh.csv</File>
    <File enable="true">C:\Dynamics\SSN\XML\Settings.xml</File>
  </Sync>
</Root>